

/* ---- data/14kr6qSTxrHAcNEhZQ6RWZyovnyhzXT2Ag/css/lib/forms.css ---- */


#top-form, #reply-form {
  display: table;
  width: 416px;
  color: #aaa;
}

#top-form {
  margin: 0 auto;
}

.form {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.form.loading  table {
  -webkit-filter: blur(1px)
   -moz-filter: blur(1px);
   -o-filter: blur(1px);
   -ms-filter: blur(1px);
   -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ;
   opacity: 0.5;
}

.form table {
  position: relative;
  z-index: 5;
  border-spacing: 0px 3px;
}

.form tr td:first-child {
  font-size: 12px;
  padding: 3px 5px;
  width: 100px;
  background-color: #2C2C2C;
  border: 1px solid #575757;
}

.form tr td:last-child {
  width: 300px;
  padding: 0px;
}

.form textarea {
  width: 295px;
  min-width: 295px;
  max-width: 295px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}

.form input[type=text] {
  width: 295px;
}

.form input, .form textarea, .form select {
  margin-left: 7px;
}

.form input[type=text], textarea {
  background: #ddd;
  color: #000;
}

.form .submit {
  float: right;
  width: 70px;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 12px;
}

.form .auth-form {
  padding: 0px;
  margin: 0px;
}

.form-preloader {
  display: none;
}

.form.loading .form-preloader {
  display: block !important;
}

.form-preloader {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.form-preloader span {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  color: #ddd;
  padding: 10px 0px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
}

.auth-please {
  margin-left: 7px;
}


/* ---- data/14kr6qSTxrHAcNEhZQ6RWZyovnyhzXT2Ag/css/lib/main.css ---- */


html, body {
  background: #222;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding: 0px 10px !important;
}

#header, #form-call-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

#header {
  max-width: 800px;
  margin: 0 auto;
  color: #999;
  padding: 10px 0px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  border-bottom: 1px solid #555;
}

hr {
  border: none;
  border-bottom: 1px solid #555;
  margin-bottom: 15px;
}

#form-call-button {
  text-align: center;
  cursor: pointer;
  color: #aaa;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12px;
  display: table;
  margin: 0 auto;
}

#stats {
  float: right;
}

#form-call-button span {
  font-size: 14px;
}

#form-call-button:hover {
  color: #cf9;
}

#form-call-button:hover span {
  color: #fff;
}

#header, #container {
  max-width: 800px;
  margin: 0 auto;
}

#header a.to-main {
  color: #999;
  /*text-decoration: none;*/
}

#header a.board-name {
  color: #9cc250;
}

a:hover {
  color: #cf6 !important;
}

#container {
  padding-top: 10px;
  display: none;
}

.post {
  display: table;
  min-width: 400px;
  overflow: hidden;
  margin: 6px 0px;
  position: relative;
  border: 1px solid;
}

.post.opening {
  border-color: #222;
}

.post .title a {
  font-size: 18px;
  color: #ddd;
}

.post .info {
  font-size: 11px;
}

.post .time-and-id {
  display: inline-block;
  color: #888;
  margin-bottom: 6px;
  margin-top: 3px;
}

.post .post-id {
  text-decoration: none;
  color: inherit;
}

.post .time-and-id em {
  font-style: normal;
  font-weight: bold;
}

.post .time-and-id span b {
  color: #aaa !important;
}

.post img.attachment {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
}

.post .text {
  color: #ccc;
  line-height: 1.3;
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
}

.post .references {
  display: block;
  margin-top: 10px;
  font-size: 10px;
}

.skip-gap {
  border: 1px dashed #777;
  padding: 5px 7px;
  display: table;
  color: #777;
  font-size: 12px;
  margin: 7px 0px;
  cursor: pointer;
}

.skip-gap:hover {
  border-color: #cf6;
}

.skip-gap:hover span {
  color: #cf6;
}

.expand-button {
  color: #9cc250;
  text-decoration: underline;
}

.post.reply {
  background-color: #2C2C2C;
  border-color: #575757;
}

.post.reply {
  padding: 0px 7px 10px 7px;
}

.post.reply .time-and-id {
  padding-top: 2px;
}

#preloader {
  margin: 0 auto;
  margin-top: 70px;
  width: 200px;
  text-align: center;
}

#preloader div {
  font-family: 'Share Tech Mono', monospace;
  font-size: 12px;
  margin-bottom: 10px;
  color: #999;
}

.template {
  display: none;
}


#thread-form {
  background: #252525;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*input[type="text"], textarea, #thread-form .submit {
  border: 1px solid;
  padding: 5px !important;
  -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; -o-border-radius: 0px !important; -ms-border-radius: 0px !important; border-radius: 0px !important ;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  background: none;
  border-color: #555;
  color: #cccccc;
}*/

#form-title {
  height: 20px;
  width: 420px;
}

.form-group:first-child {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0px
}

#thread-form .submit {
  float: right;
  height: 32px;
  background: #333;
  width: 150px;
}

.editbox {
  font-size: 12px;
  color: #bbb;
  margin-bottom: 3px;
}

.editbox em { 
  margin-right: 10px; 
  cursor: pointer;
}

.editbox em:hover {
  color: #cf6 !important;
}

.editbox em.link {
  text-decoration: underline;
}

em           { font-style: normal }
em.bold      { font-weight: bold }
em.italic    { font-style: italic }
em.underline { text-decoration: underline }
em.strike    { text-decoration: line-through }
em.quote     { font-style: italic; }

em.spoiler {
  padding: 0px 2px 0px 2px;
}

#thread-form .form-text {
  width: 588px;
  height: 120px;
}

.auth-please {
  color: #bbb;
  cursor: pointer;
}

.auth-please u {
  color: orange;
}

.auth-please, .post-as {
  margin-top: 4px;
  font-family: Verdana, sans-serif;
  font-size: 10px;
}

.post-as label {
  color: #bbb;
}

.post-as label em {
  color: #9cc250;
}

.post-as label:first-child {
  margin-right: 10px;
}

.form.blurred, .form.blurred input, .form.blurred textarea, .form.blurred em {
  cursor: wait !important;
}

.form.blurred {
  opacity: 0.5 !important;
}


.thread {
  margin-top: 30px;
  margin-bottom: 50px;
}

.time-and-id {
  cursor: pointer;
}

.time-and-id:hover .post-id {
  color: #cf6 !important;
}

em.quote {
  font-style: normal;
  color: #7a6;
}

#canvas {
  display: none;
}

.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          -webkit-animation: fadein 1s; -moz-animation: fadein 1s; -o-animation: fadein 1s; -ms-animation: fadein 1s; animation: fadein 1s ;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.thread-link {
  display: inline-block;
  color: #777;
  margin-left: 5px;
  text-decoration: none;
}

.thread-link span {
  text-decoration: underline;
  color: #9cc250;
}

.thread-link:hover {
  color: #cf6;
}

.thread-link:hover span {
  text-decoration: none;
  color: #cf6;
}

#not-found {
  /*background: red;*/
  text-align: center;
  margin-top: 50px;
}

#not-found h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 28px; 
  color: #ddd;
  margin: 0px;
}

#not-found a {
  color: #777;
  font-size: 14px;
}